<div class="container">
    <form (ngSubmit)="addcommentsbook()">
        <div class="form-group">
            <h2 style="text-align: center">Comments</h2>
        </div>
        <div class="form-group">
            <label>Name:</label>
           <input type="text" class="form-control" [(ngModel)]="Name" name="name" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" [(ngModel)]="Email" name="email" />
        </div>
        <div class="form-group">
            <label>Commentu</label>
           <textarea [(ngModel)]="Commentu" name="Commentu" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" >SubmitComment</a>
        </div>
    </form>
</div>


