<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4>Confirm delete.</h4>
        <form (ngSubmit)=" deleteBook()">
            <p>
                Are you sure you want to delete {{book.title}}
            </p>
            <hr>
            <p>
                Please confirm your action.
            </p>
            <button type="submit" class="btn btn-danger btn-lg">Yes</button> |
            <button type="submit" class="btn btn-secondary btn-lg"><a routerLink="/list">No</a></button> 
        </form>
    </div>
</div>